body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header{
    background-color: #ffff99;
    font-weight: bold;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;

}

nav a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 14px;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    display:inline-block;
    padding: 1%;
    text-align: center;
}

p{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: white;
    text-align: center;
    color: black;
}

h1{
    text-align: center;
}