body {
    background-color: lightgoldenrodyellow;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 0;
}

header{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.navbar{
    margin: 0;


}

.name{
    text-align: center;
    font-size: 18px;
}

.flexbox-container{
    width: 300px;
    margin: 0 auto;
    border: solid black 2px;
    justify-content: flex-end;
    


}

section{
    float: left;
    width: 70%;
    margin-bottom: 100px;

}

aside{
    float: right;
    width: 25%;
}

footer{
    background-color: black;
    padding: 20px 0;
    color: white;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    clear: both;

}